@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply dark:bg-gradient-to-r dark:from-black dark:to-slate-700 bg-gradient-to-r from-slate-300 to-white;
    @apply dark:text-white text-black;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1280px;
  padding: 0 18px;
  margin: 0 auto;
}


@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: '<angle>';
}